.benefits {
    padding-top: 94px;

    &__box {
        display: flex;
        align-items: center;
    }
    
    &__list {
        display: flex;
        gap: 30px;
    }
    
    &__title {
        color: var(--text-color);
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    
    &__text {
        color: var(--add-text);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        letter-spacing: 0.42px;
    }

    &__item {
        &::before {
            content: "";
            border-radius: 4px;
            background: #F5F4FA;
            width: 270px;
            height: 120px;
            background-image: url(../img/antenna.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70px;
            display: block;
            margin-bottom: 30px;
        }
    }

    &__item:nth-child(2)::before {
        background-image: url(../img/clock.png);
    }
    
    &__item:nth-child(3)::before {
        background-image: url(../img/diagram.png);
    }
    
    &__item:nth-child(4)::before {
        background-image: url(../img/astronaut.png);
    }
}






