.hero {
    background-color: $background-color;
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../img/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    @media screen and (min-width: 480px){
        width: 360px;
    }
    @media screen and (min-width: 1200px) {
         width: 696px;
    font-size: 44px;
    letter-spacing: 2.64px;
    line-height: 1.36;
    margin-bottom: 30px;
    }


    &__title {
        color: $title-color;
        text-align: center;
        font-size: 26px;
        font-weight: 900;
        line-height: 1.36;
        letter-spacing: 2.64px;
        text-transform: uppercase;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    
    @media screen and (min-width: 1200) {
        font-size: 44px;
    }
    
    
    &__button {
        color: $title-color;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.87;
        letter-spacing: 0.96px;
        background-color: $accent-color;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 32px;
        padding-right: 32px;
        border-radius: 4px;
        border: none;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        animation-name: move-btn;
        animation-duration: 3000ms;
        animation-timing-function: ease;
        animation-iteration-count: infinite;

}
}

@keyframes move-btn {
    0% {
    transform: scale(1);
    }
    100% {
    transform: scale(1.5);
    }
}