.team {
    background-color: $tin-background;
    padding-bottom: 94px;
    padding-top: 94px;
    
    &__title {
    color: $text-color;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

&__list {
    display: flex;
    gap: 30px;
}

&__item {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 0 0 4px 4px;
}


&__img {
    width: 270px;
}

&__box {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $title-color;
    border-radius: 0 0 4px 4px;
}

&__name {
    color: $text-color;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;
}

&__text {
    color: $add-text;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
    margin-top: 10px;
}

&__listik {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 10px;
}

&__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition-duration: 250ms;
    transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1); ;
    
&:hover,
&:focus {
    border: 0px solid $accent-color;
    background-color: $accent-color;

    .team__svg {
        fill: $title-color;
    }
}
}

&__svg {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    transition-duration: 250ms;
    transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1); ;
}
}





















