.hero-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.list-hero {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.hero-btn {
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    background-color: var(--tin-background);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 4px;
    border: none;
    transition-duration: 250ms;
    transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1); ;
}
