:root {
    $background-color: #2F303A;
    $accent-color: #2196F3;
    $tin-background: #F5F4FA;
    $logo-color: #000;
    $text-color: #212121;
    $add-text: #757575;
    $title-color: #FFF;
    $footer-number: rgba(255, 255, 255, 0.60);
}